[package]
name = "miden-stdlib"
version = "0.8.0"
description = "Miden VM standard library"
authors = ["miden contributors"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/0xPolygonMiden/miden-vm"
documentation = "https://docs.rs/miden-stdlib/0.8.0"
categories = ["cryptography", "mathematics"]
keywords = ["miden", "program", "stdlib"]
edition = "2021"
rust-version = "1.73"

[lib]
bench = false
doctest = false

[[test]]
name = "stdlib"
path = "tests/main.rs"

[features]
default = ["std"]
std = []

[dependencies]
assembly = { package = "miden-assembly", path = "../assembly", version = "0.8", default-features = false }

[dev-dependencies]
blake3 = "1.5"
miden-air = { package = "miden-air", path = "../air", version = "0.8", default-features = false }
num-bigint = "0.4"
processor = { package = "miden-processor", path = "../processor", version = "0.8", features = ["internals"], default-features = false }
serde_json = "1.0"
sha2 = "0.10"
sha3 = "0.10"
test-utils = { package = "miden-test-utils", path = "../test-utils" }
winter-air = { package = "winter-air", version = "0.8" }
winter-fri = { package = "winter-fri", version = "0.8" }

[build-dependencies]
assembly = { package = "miden-assembly", path = "../assembly", version = "0.8" }
